* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;



}

body {
    background-color: #f5f5f5;
}

#sidetitel {
    display: none;
}



/*********** menu *********/


.logo {
    text-align: center;
    font-size: 50px;
    letter-spacing: 4px;
    line-height: normal;
    font-weight: 400;
    float: left;
    display: block;
    width: 300px;
    position: absolute;
    left: 4px;
    right: 0;
    margin: 0px auto;
    line-height: 50px;
    font-family: 'Sofia Pro Ultra Light';


}

a {
    /* link farve */
    color: #000000;
    font-family: 'Sofia Pro Ultra Light';
    text-decoration: none;
}

header a:hover {
    /* farve når musen er over */
    color: #C7C1C2;

}


header {
    position: fixed;
    width: 100%;
}


header nav {
    display: flex;
    text-align: right;
    flex-wrap: wrap;
    flex-direction: column;


}


header nav a {
    font-size: 1rem;

}

@media (min-width:950px) {
    header nav {
        flex-direction: row;
        position: relative;
        text-align: right;
        float: right;
        line-height: 50px;

    }

    header nav a {
        padding: 0 1rem;
    }

    header nav a:last-child {
        border: none;
    }

}



/*********** menu slut *********/

/*********************brødkrummesti *************************/
/* Style listen */
ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    padding-top: 65px;
    font-family: 'Sofia Pro Ultra Light';

}

/* teksten på linje */
ul.breadcrumb li {
    display: inline;
    font-size: 15px;
}

/* symbol imellem teksten */
ul.breadcrumb li + li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* farve i linksne  */
ul.breadcrumb li a {
    color: black;
    text-decoration: none;
}

/* farve teksten får med musen over */
ul.breadcrumb li a:hover {
    color: #c7c1c2;
    text-decoration: underline;
}


/*****************brødkrummesti slut *************/


/*****************forside*************/


#indhold {
    text-align: center;

}

.imgforside img {
    width: 100%;


}

.imgforside2 img {
    width: 100%;


}

.imgforside3 img {
    width: 100%;


}

.imgforside4 img {
    width: 100%;
}




@media (min-width:950px) {
    .imgforside img {
        padding-bottom: 5px;
        width: 80vh;
        height: 100vh;
        padding-top: 30px;

    }

    .imgforside2 img {
        width: 70vh;
        height: 90vh;


    }

    .imgforside3 img {
        width: 70vh;
        height: 90vh;

    }

    .imgforside4 img {
        width: 70vh;
        height: 90vh;

    }

    .forsidegruppe {
        column-count: 3;

    }



}

/*****************forside slut*************/


/*******************STORE ****************/
.underoverskriftstore {
    text-align: center;
    font-size: 1.2rem;
    padding-bottom: 10px;
    padding-top: 50px;
    font-family: 'mono45 headline';
}

.textstore {
    text-align: center;
    padding-bottom: 50px;
    line-height: 24px;
    font-family: 'Sofia Pro Ultra Light';
    font-weight: 300;
}

.tekstpris {
    font-family: 'Sofia Pro Ultra Light';
}

.imgstore img {
    width: 300px;
    height: 400px;


}

/**** skygge omkring billeder når musen er over *******/
.imgstore img:hover {
    -moz-box-shadow: 0 0 10px #ccc;
    -webkit-box-shadow: 0 0 10px #ccc;
    box-shadow: 0 0 10px #ccc;

}

#indholdstore {
    text-align: center;
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;

}

.column1 {
    padding-bottom: 30px;
    font-family: 'mono45 headline';
    font-weight: 300;

}

.column2 {
    font-family: 'mono45 headline';
    font-weight: 300;

}



@media (min-width:950px) {
    .column1 {
        column-count: 3;
    }

    .column2 {
        column-count: 3;
    }




}

/*******************STORE slut****************/
/*******************story ****************/

#story {
    padding-top: 80px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 30px;
}

.textstory {
    padding-bottom: 20px;
    line-height: 24px;
    font-family: 'Sofia Pro Ultra Light';
    font-weight: 300;


}

.underoverskriftstory {
    font-size: 1.2rem;
    padding-bottom: 10px;
    font-family: 'mono45 headline';

}

.imgstory img {
    display: block;
    margin-left: auto;
    margin-right: auto;

}





@media (min-width:950px) {
    #story {
        display: flex;
        padding: 130px 200px 75px;
        padding-bottom: 180px;

    }

    .textstory {
        padding-right: 30%;
    }

    .imgstory img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }



}



/*******************story slut****************/
/*******************Studio****************/


#indholdstudio {
    padding-top: 80px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 30px;

}

.tekststudio {
    padding-bottom: 20px;
    line-height: 24px;
    font-family: 'Sofia Pro Ultra Light';


}

.underoverskriftstudio {
    font-size: 1.2rem;
    padding-bottom: 10px;
    font-family: 'mono45 headline';

}

.videostudio video {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

@media (min-width:950px) {
    #indholdstudio {
        display: flex;
        padding: 130px 130px 75px;
        padding-bottom: 210px;

    }

    .videostudio video {
        width: 600px;

    }

    .tekststudio {
        padding-right: 20%;
    }


}


/*******************Studio slut****************/


/*******************tilbageknap kjoler ****************/
.tilbageknapkjoler {
    padding-top: 50px;
    padding-left: 20px;
}

.tilbageknapkjoler :hover {
    background-color: #8C888C;


}

/*******************tilbageknap kjoler slut****************/

/*******************mallory****************/
#indholdmallory {
    padding-top: 50px;


}

.tekstkjole1 {
    line-height: 24px;
    font-family: 'Sofia Pro Ultra Light';
    padding-left: 15px;
    padding-top: 20px;

}


.underoverskriftkjoler {
    font-family: 'mono45 headline';
    font-size: 1.5rem;

}

.img1 img {
    width: 100%;
    height: 100%;

}



.bestil {
    padding-top: 20px;


}

/********* knappen på pre-order på alle siderne******/
.wp-block-button__link {
    border-width: thin;
    border-style: ridge;
    background-color: black;
    color: white;
    font-family: 'Sofia Pro Ultra Light';
    padding: 14px 28px;
    border: 0px solid #ccc;
    border-radius: 4px;
    text-transform: uppercase;

}

/***** farven når musen er over på alle siderne *****/
.wp-block-button__link:hover {
    background-color: #8C888C;
}

@media (min-width:850px) {
    #indholdmallory {
        display: flex;
        padding: 50px 350px 75px;

    }

    .img1 img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: auto;
    }

    .tekstkjole1 {
        padding-bottom: 20px;
        line-height: 24px;
        padding: 25px 50px 75px;
    }

}



/*******************mallory slut****************/
/*******************ava****************/
#indholdava {
    padding-top: 50px;


}

.tekstkjole2 {
    line-height: 24px;
    font-family: 'Sofia Pro Ultra Light';
    padding-left: 15px;
    padding-top: 20px;

}

.underoverskriftkjoler1 {
    font-family: 'mono45 headline';
    font-size: 1.5rem;


}

.img2 img {
    width: 100%;
    height: 100%;


}

@media (min-width:850px) {
    #indholdava {
        display: flex;
        padding: 50px 350px 75px;

    }

    .img2 img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: auto;
    }

    .tekstkjole2 {
        padding-bottom: 20px;
        line-height: 24px;
        padding: 25px 50px 75px;
    }

}

/*******************ava slut****************/
/*******************naoma****************/

#indholdnaoma {
    padding-top: 50px;


}

.tekstkjole3 {
    line-height: 24px;
    font-family: 'Sofia Pro Ultra Light';
    padding-left: 15px;
    padding-top: 20px;

}

.underoverskriftkjoler3 {
    font-family: 'mono45 headline';
    font-size: 1.5rem;

}

.img3 img {
    width: 100%;
    height: 100%;


}

@media (min-width:850px) {
    #indholdnaoma {
        display: flex;
        padding: 50px 350px 75px;

    }

    .img3 img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: auto;
    }

    .tekstkjole3 {
        padding-bottom: 20px;
        line-height: 24px;
        padding: 25px 50px 75px;
    }

}

/*******************naoma slut****************/
/*******************lynn****************/
#indholdlynn {
    padding-top: 50px;

}


.tekstkjole4 {
    line-height: 24px;
    font-family: 'Sofia Pro Ultra Light';
    padding-left: 15px;
    padding-top: 20px;

}

.underoverskriftkjoler2 {
    font-family: 'mono45 headline';
    font-size: 1.5rem;

}

.img4 img {
    width: 100%;
    height: 100%;


}

@media (min-width:850px) {
    #indholdlynn {
        display: flex;
        padding: 50px 350px 75px;

    }

    .img4 img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: auto;
    }

    .tekstkjole4 {
        padding-bottom: 20px;
        line-height: 24px;
        padding: 25px 50px 75px;
    }

}

/*******************lynn slut****************/
/*******************BLAIR****************/
#indholdblair {
    padding-top: 50px;


}

.tekstkjole5 {
    line-height: 24px;
    font-family: 'Sofia Pro Ultra Light';
    padding-left: 15px;
    padding-top: 20px;

}

.underoverskriftkjoler1 {
    font-family: 'mono45 headline';
    font-size: 1.5rem;


}

.img5 img {
    width: 100%;
    height: 100%;


}

@media (min-width:850px) {
    #indholdblair {
        display: flex;
        padding: 50px 350px 75px;

    }

    .img5 img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: auto;
        width: 341px;
        height: 512px;
    }

    .tekstkjole5 {
        padding-bottom: 20px;
        line-height: 24px;
        padding: 25px 50px 75px;
    }

}

/*******************BLAIR slut****************/
/*******************SERENA****************/
#indholdserena {
    padding-top: 50px;

}


.tekstkjole6 {
    line-height: 24px;
    font-family: 'Sofia Pro Ultra Light';
    padding-left: 15px;
    padding-top: 20px;

}

.underoverskriftkjoler6 {
    font-family: 'mono45 headline';
    font-size: 1.5rem;

}

.img6 img {
    width: 100%;
    height: 100%;


}

@media (min-width:850px) {
    #indholdserena {
        display: flex;
        padding: 50px 350px 75px;

    }

    .img6 img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: auto;
    }

    .tekstkjole6 {
        padding-bottom: 20px;
        line-height: 24px;
        padding: 25px 50px 75px;
    }

}

/*******************SERENA slut****************/
/*******************køb****************/

/******* sygmaskinen på pre-order siden*****/
.maskinebuy {
    text-align: center;
    padding-top: 200px;
    padding-left: 100px;

}

#indholdbuy {
    padding-top: 50px;

}


.imgbuy img {
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.row {
    padding-right: 20px;
}

/********** alt indhold på siden*********/
#mainbuy {
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-family: 'Sofia Pro Ultra Light';
    padding-bottom: 130px;
    display: flex;
    flex-wrap: wrap;

}



h1 {
    font-family: 'Sofia Pro Ultra Light';
    margin-bottom: 20px;
    font-size: 1.5rem;

}

/**** pre-order listen**********/

input[type=text],
select,
textarea {
    width: 100%;
    padding: 6px;
    border: 1px solid black;
    border-radius: 2px;
    resize: horizontal;
}


label {
    padding: 8px 8px 8px 0;
    display: inline-block;

}

/******* send knappen *********/
input[type=send] {
    background-color: black;
    color: white;
    padding: 12px 10px;
    border: 0px solid #ccc;
    border-radius: 4px;
    cursor: pointer;

}

/*******farven når musen er over********/

input[type=send]:hover {
    background-color: #8C888C;
    color: white;
}

.container {
    border-radius: 5px;
    padding: 20px;
    font-family: 'Sofia Pro Ultra Light';

}



.col-25 {
    float: left;
    width: 75%;
}

.col-75 {
    float: left;
    width: 75%;
}

/* rydder op */
.row:after {
    content: "";
    display: table;
    clear: both;

}


@media (min-width:850px) {
    #mainbuy {
        flex-wrap: nowrap;

    }
}

/*****************køb slut********************/
.tilbageknap {
    text-align: left;
    padding-left: 20px;
    font-family: 'Sofia Pro Ultra Light';



}

/********farve når musen er over *****/
.tilbageknap :hover {
    background-color: #8C888C;

}

/***********knappens design*******/
button {
    appearance: button;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    background-color: #f5f5f5;
    box-sizing: border-box;
    margin: 0em;
    font-family: 'Sofia Pro Ultra Light';
    padding: 1px 6px;
    border-width: thin;
    border-style: ridge;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}


@media (min-width:850px) {
    .row {
        padding-right: 10px;
    }

    .col-25,
    .col-75,
    input[type=submit] {
        width: 100%;
        margin-top: 0;
    }


}

/*******************køb slut****************/




/*_________________________Footer_________________________*/
footer {
    display: flex;
    flex-wrap: wrap;
    color: #3b4141;
    margin-top: 20px;
    border-top: 0.5px solid #e2e2e2;
    font-family: 'mono45 headline';

}

footer a {
    padding: 5px;
    font-size: 13px;
}

.footerv {
    text-align: center;
    flex-grow: 2;
    flex-basis: 400px;
    margin: 20px;
    border-radius: 15px 15px 15px 15px;
    font-family: 'mono45 headline';
    font-weight: 300;

}


.footerh {
    text-align: center;
    flex-grow: 2;
    flex-basis: 400px;
    margin: 20px;
    border-radius: 15px 15px 15px 15px;
    font-size: 13px;
    font-family: 'mono45 headline';
    font-weight: 300;

}

@media (min-width:950px) {
    .footerv {
        text-align: left;
    }

    .footerh {
        text-align: end;
    }

}




/*---------------------------footer slutter---------------------------*/

/*************************** pil der viser man skal rulle ned*************/
.rul-ned-pil {
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iQ2hldnJvbl90aGluX2Rvd24iIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiBmaWxsPSJ3aGl0ZSIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBhdGggZD0iTTE3LjQxOCw2LjEwOWMwLjI3Mi0wLjI2OCwwLjcwOS0wLjI2OCwwLjk3OSwwYzAuMjcsMC4yNjgsMC4yNzEsMC43MDEsMCwwLjk2OWwtNy45MDgsNy44M2MtMC4yNywwLjI2OC0wLjcwNywwLjI2OC0wLjk3OSwwbC03LjkwOC03LjgzYy0wLjI3LTAuMjY4LTAuMjctMC43MDEsMC0wLjk2OWMwLjI3MS0wLjI2OCwwLjcwOS0wLjI2OCwwLjk3OSwwTDEwLDEzLjI1TDE3LjQxOCw2LjEwOXoiLz48L3N2Zz4=);
    background-repeat: no-repeat;
}

/***********'style pilen*******/
.rul-ned-link {
    height: 60px;
    width: 80px;
    margin: 0px 0 0 -40px;
    position: absolute;
    left: 50%;
    bottom: 0px;
    color: #F5F5F5;
    text-align: center;
    z-index: 100;
    text-decoration: none;
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);

    -webkit-animation: move_down 2s ease-in-out infinite;

}


/*animation til pilen */
@-webkit-keyframes move_down {
    0% {
        -webkit-transform: translate(0, -20px);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        -webkit-transform: translate(0, 20px);
        opacity: 0;
    }
}



@media (max-width:950px) {
    .rul-ned-pil {
        display: none;
    }


}

/*************************** pil der viser man skal rulle ned slut*************/
