* {
    margin: 0%;
    box-sizing: border-box;
}

/*********** menu *********/

a {
    /* default link color */
    color: #000000;
    font-family: 'Spartan';
    text-decoration: none;
}

header a:hover {
    /* change to color on mouseover */
    color: #428C77;
}


header {
    position: fixed;
    width: 100%;
}


header nav {
    display: flex;
    text-align: right;
    flex-wrap: wrap;
    flex-direction: column;
}


header nav a {
    font-size: 1rem;

}

@media (min-width:950px) {
    header nav {
        flex-direction: row;
        position: relative;
        text-align: right;
        float: right;
    }

    header nav a {
        padding: 0 1rem;
    }

    header nav a:last-child {
        border: none;
    }

}

/*********** menu slut *********/


/*******************STORE****************/
.overskriftstore {
    text-align: center;
}

.textstore {
    text-align: center;
}

.imgstore img {
    width: 300px;
    height: 500px;



}

.column1 {}

.column2 {}

@media (min-width:950px) {
    .column1 {
        column-count: 2;

    }

    .column2 {
        column-count: 2;

    }

    .imgstore img {}

}

/*******************STORE slut****************/



/*_________________________Footer_________________________*/
footer {
    display: flex;
    flex-wrap: wrap;
    color: #3b4141;
    margin-top: 20px;
    border-top: 0.5px solid #e2e2e2;
    font-family: proxima-nova, sans-serif;

}

footer a {
    padding: 5px;
    font-size: 13px;
}

.footerv {
    text-align: center;
    flex-grow: 2;
    flex-basis: 400px;
    margin: 20px;
    border-radius: 15px 15px 15px 15px;



}


.footerh {
    text-align: center;
    flex-grow: 2;
    flex-basis: 400px;
    margin: 20px;
    border-radius: 15px 15px 15px 15px;
    font-size: 13px;

}

@media (min-width:950px) {
    .footerv {
        text-align: left;
    }

    .footerh {
        text-align: end;
    }


    /*---------------------------footer slutter---------------------------*/
